{% extends "base.html" %}

{% block content %}
<table>
<tr>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="11" />
    <button>РОНПР</button>
</form>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
</rt>

<tr>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="22" />
    <button>ВАО1</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="32" />
    <button>ЗАО1</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="42" />
    <button>ЗелАО</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="52" />
    <button>САО1</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="62" />
    <button>СВАО1</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="72" />
    <button>СЗАО1</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="82" />
    <button>ТиНАО</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="92" />
    <button>ЦАО</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="102" />
    <button>ЮАО</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="112" />
    <button>ЮВАО</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="122" />
    <button>ЮЗАО</button>
</form>
</td>
</rt>

<tr>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="23" />
    <button>ВАО2</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="33" />
    <button>ЗАО2</button>
</form>
</td>
<td>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="53" />
    <button>САО2</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="63" />
    <button>СВАО2</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="73" />
    <button>СЗАО2</button>
</form>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
</rt>

<tr>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="24" />
    <button>ВАО3</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="34" />
    <button>ЗАО3</button>
</form>
</td>
<td>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="54" />
    <button>САО3</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="64" />
    <button>СВАО3</button>
</form>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
</rt>

<tr>
<td>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="35" />
    <button>ЗАО4</button>
</form>
</td>
<td>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="55" />
    <button>САО4</button>
</form>
</td>
<td>
<form action="/select_report" method="post">
    <input type="hidden" name="depart_id" value="65" />
    <button>СВАО4</button>
</form>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
</rt>

</table>
{% endblock %}
