{% extends "base.html" %}

{% block content %}
<div class="content_header">
    <h1>Журнал проверок ПБ</h1>
         {% if lines %}
          <br> Ранее введенные данные:
          <br>
           <table border="1" width="100%" class="preview_data">
            <tr>
             <th width = 230px>Наименование субьекта</th>
             <th width = 250px align="center">Адрес</th>
             <th width = 105px align="center">Номер КНД</th>
             <th width = 105px align="center">Дата распоряжения</th>
             <th width = 105px align="center">Вид и дата</th>
             <th width = 105px align="center">Номер и дата акта</th>
             <th width = 105px align="center">Номер, дата предписания</th>
             <th width = 105px align="center">Выявлено нарушений</th>
             <th width = 105px align="center">Не устранены в установленные сроки</th>
             <th width = 105px align="center">Устранено нарушений</th>
             <th width = 210px align="center">ФИО сотрудника</th>
             <th width = 105px align="center">№ по ФГИС ЕРП</th>

           </tr>
            {% for line in lines %}
              <tr>
               <td>{{ line.objectname }}</td>
               <td>{{ line.objectadres }}</td>
               <td align="center">{% if line.doc_stored%}{{ line.doc_stored}}{% endif %}</td>
               <td align="center">{% if line.checkdate%}{{ line.checkdate}} {% endif %}</td>
               <td align="center">{{ line.type_inspection}}<br>{{ line.start_date }}<br>{{ line.end_date }}</td>
               <td align="center">{% if line.act_number%}{{ line.act_number}}<br>{{ line.act_date }} {% endif %}</td>
               <td align="center">{% if line.order_number%}{{ line.order_number}}<br>{{ line.order_date }} {% endif %}</td>
               <td align="center">{% if line.of_violations%}{{ line.of_violations}}{% endif %}</td>
               <td align="center">{% if line.of_violations_unscheduled%}{{ line.of_violations_unscheduled}}{% endif %}</td>
               <td align="center">{% if line.fixed_violations%}{{ line.fixed_violations}}{% endif %}</td>
               <td>{{ line.name_employee }}</td>
               <td align="center">{% if line.check_number%}{{ line.check_number}}{% endif %}</td>
              </tr>
            {% endfor %}
           </table>
          <br><br>
    <h3>Ведите новые данные о проверке:</h3>
         {% endif %}
</div>
<div class="content_2">
    <form action="/add-audit-trail-pb" method="post">
     <input type="hidden" name="depart_id" value="{{depart_id}}" />
    {{form.hidden_tag()}}
    {{ form.objectname.label }}<br>
    {{ form.objectname }}<br>

        {% for error in form.errors.objectname %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>

    {{ form.objectadres.label }}<br>
    {{ form.objectadres}}<br>

        {% for error in form.errors.objectname %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>

    {{ form.doc_stored.label }}<br>
    {{ form.doc_stored}}<br><br>

    {{ form.type_inspection.label }}<br>
    {{ form.type_inspection}}<br><br>


<label>Дата начала проверки</label>
      <fieldset>

       {{ form.start_day}}
       {{ form.start_month}}
       {{ form.start_year}}

      </fieldset><br><br>

<label>Дата окончания проверки</label>
      <fieldset>

       {{ form.end_day}}
       {{ form.end_month}}
       {{ form.end_year}}

      </fieldset><br><br>
    <br>
    {{ form.act_number.label }}<br>
    {{ form.act_number }}<br>

        {% for error in form.errors.act_number %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>

<label>Дата акта проверки</label>
      <fieldset>

       {{ form.act_day}}
       {{ form.act_month}}
       {{ form.act_year}}

      </fieldset><br><br>
      <br>

    {{ form.order_number.label }}<br>
    {{ form.order_number }}<br>

        {% for error in form.errors.order_number %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>

<label>Дата предписания</label>
      <fieldset>

       {{ form.order_day}}
       {{ form.order_month}}
       {{ form.order_year}}

      </fieldset><br><br>
      <br>

    {{ form.of_violations.label }}<br>
    {{ form.of_violations (value='0') }}<br>

        {% for error in form.errors.of_violations %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>


    {{ form.of_violations_unscheduled.label }}<br>
    {{ form.of_violations_unscheduled (value='0')}}<br>

        {% for error in form.errors.of_violations %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>

    {{ form.fixed_violations.label }}<br>
    {{ form.fixed_violations (value='0')}}<br>

        {% for error in form.errors.of_violations %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>

    {{ form.name_employee.label }}<br>
    {{ form.name_employee }}<br>

    {{ form.other_documents.label }}<br>
    {{ form.other_documents }}<br>

    {{ form.check_number.label }}<br>
    {{ form.check_number }}<br>


        {{ form.submit() }}   

         </form>

         <form action="{{url_for('audit_trail')}}" >
         <input type="hidden" style="float: left;" name="depart_id" value="{{depart_id}}" />
         <input type="hidden" style="float: left;" name="action" value="pb" />
         <button  type="submit">Назад</strong>
         </form><br>
   
</div>
{% endblock %}
