{% extends "base.html" %}

{% block content %}
    <h1>Выберите период отчета</h1>
    <form action="/load_audit_trail" method="post">
     <input type="hidden" name="depart_id" value="{{depart_id}}" />
    {{form.hidden_tag()}}
     Начальная дата: 
     <div class="form-group">
       <fieldset>
             {{ form.month_start }}
             {{ form.year_start }}
       </fieldset>
     </div>

     Конечная дата: 
     <div class="form-group">
       <fieldset>
             {{ form.month_end }}
             {{ form.year_end }}
       </fieldset>
     </div>

        {% if error %}
         <span style="color: red;">[{{error}}]</span>
         <br>
        {% endif %}<br>

     {{ form.submit() }}   

         </form>

         <form action="{{url_for('select_report')}}"   method="post">
         <input type="hidden" style="float: left;" name="depart_id" value="{{depart_id}}" />
         <button  type="submit">Назад</strong>
         </form><br>
   

{% endblock %}
